<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <!-- Array クラス (System) | Microsoft Docs https://docs.microsoft.com/ja-jp/dotnet/api/system.array?view=netcore-3.1 -->
    <!-- <gcAllowVeryLargeObjects enabled="true" />   https://docs.microsoft.com/ja-jp/dotnet/framework/configure-apps/file-schema/runtime/gcallowverylargeobjects-element -->
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
</configuration>
